*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.filas{
    display: flex;
    justify-content: center;
}

.button{
    font-weight: bold;
    padding: 5px;
    color: #02f800;
    border: 2px solid #02f800;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: #016502;
    margin: 10px;
}

.beat, .high{
    width: 220px;
}


#high{
    display: none;
}


