#fila1, #fila2, #fila3, #fila4 {
    display: flex;
}

#work_it, #make_it, #do_it, #makes_us ,#harder, #better, #faster, #stronger, #more_than, #hour, #our, #stronger, #never, #ever, #after, #work_is, #over{
    color: red;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
}
